#NXModalContent.request-form_modal {
    position: fixed;
    top: 45%;
    left: 50%;
    z-index: 10001;
    max-width: 500px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 20px 25px 25px;
    background: #fff;
    font-size: 15px;
    overflow: auto;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translate(-50%, -50%);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-height: 85vh;
}

.request-form_modal h3 {
    text-align: center;
    margin-top: 0;
    font-size: 22px;
}

.request-form_modal .form-group {
    margin-bottom: 1em;
}

.request-form_modal input.inpt,
.request-form_modal textarea.inpt{
    margin-top: 0;
}

.request-form_modal .btn-wrap {
    margin-top: 20px;
}

.request-form_modal .checkbox label {
    line-height: 1.2;
}

@media only screen and (max-width: 500px) {
    #NXModalContent.request-form_modal {
        top: 50px;
        height: 100%;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        left: auto;
    }
}